
        :root {
            --primaryColor: #660F93;
            --secondaryColor: #3C0359;
            --thirdColor:#3C0359;
            --iconColor: #660F93;
            --iconColorOp: #3C0359;
            --iconColorOp2: #3C0359;
        }
        
/*
     FILE ARCHIVED ON 01:01:43 Jan 26, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:51:14 Jan 28, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.162
  exclusion.robots.policy: 0.144
  cdx.remote: 0.16
  esindex: 0.015
  LoadShardBlock: 340.129 (6)
  PetaboxLoader3.resolve: 218.809 (4)
  PetaboxLoader3.datanode: 326.915 (7)
  load_resource: 219.512
*/