
        :root {
            --primaryColor: #660F93;
            --secondaryColor: #3C0359;
            --thirdColor:#3C0359;
            --iconColor: #660F93;
            --iconColorOp: #3C0359;
            --iconColorOp2: #3C0359;
        }
        
/*
     FILE ARCHIVED ON 01:01:43 Jan 26, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:44:37 Jan 28, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.056
  cdx.remote: 0.079
  esindex: 0.008
  LoadShardBlock: 182.54 (6)
  PetaboxLoader3.datanode: 147.206 (7)
  load_resource: 79.666
  PetaboxLoader3.resolve: 44.371
*/