.cookies {
    visibility: hidden;
    position: fixed;
    max-width: 380px;
    padding: 30px;
    bottom: -150%;
    left: 40px;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 16px 24px 2px #41141405, 0 6px 32px 4px #4114140a, 0 8px 12px -5px #4114140a;
    box-shadow: 0 16px 24px 2px #41141405, 0 6px 32px 4px #4114140a, 0 8px 12px -5px #4114140a;
    z-index: 90000;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}

@media (max-width: 575.98px) {
    .cookies {
        max-width: 100%;
        left: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.cookies.show {
    visibility: visible;
    bottom: 40px;
}

@media (max-width: 575.98px) {
    .cookies.show {
        width: 100%;
        bottom: 0;
    }
}

.cookies .cookies-img {
    text-align: center;
}
/*
     FILE ARCHIVED ON 01:01:43 Jan 26, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:17:19 Jan 28, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.152
  exclusion.robots.policy: 0.137
  cdx.remote: 0.147
  esindex: 0.013
  LoadShardBlock: 129.411 (6)
  PetaboxLoader3.datanode: 139.26 (7)
  load_resource: 103.92
  PetaboxLoader3.resolve: 57.288
*/